body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.title {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

section p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20px;

}

nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;

}

nav a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

div {
    display: flex;
    justify-content: center;
}

.logo {
    width: 120px;
    margin-top: 2em;
}

form {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;


}


input,
textarea,
select {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    width: 400px;
}

.textarea {
    margin-bottom: 1em;
}

#add {
    margin-bottom: 20px;
}

table,ted,th {
    border: 1px solid black;
}


.data {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.edit {
    background-color: rgb(105, 105, 203);
    color: white;
    border-radius: 5px;
}

.delete {
    background-color: rgb(203, 73, 73);
    color: white;
    border-radius: 5px;
}

#vacia {
    min-height: 100vh;
    background-color: #ccc;
}

.swal2-popup {
    width: 300px !important;
}

tbody tr:nth-child(odd) {
    background-color: #fedad5;
}

tbody tr:nth-child(even) {
    background-color: #fdf9c4;
}

.rrss {
    background-color: #F1e4db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 30px;
    margin-top: 0px;
}

.rrss img {
    width: 40px;
}

footer {
    background-color: #F1e4db;
    margin-top: auto;
}

footer h2 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 28px;
}

.copyrigth {
    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

div img {
    width: 50px;
}


@media (max-width: 480px) {
    .title {
        font-family: 'Montserrat', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
}

section p {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.rrss {
    background-color: #F1e4db;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 30px;
    margin-top: 0px;
}

.rrss img {
    width: 37px;
}

input, textarea, select {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    width: 340px;
}

footer h2 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 20px;
}

form {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.label {
    margin-top: 10px;
    margin-bottom: 10px;
}